#weatherOutput{
  display: none;
}

#one-day {
  display: none;
}


#two-days {
  display: none;
}

#three-days {
  display: none;
}

#four-days {
  display: none;
}

#five-days {
  display: none;
}

#six-days {
  display: none;
}

#seven-days {
  display: none;
}

img{
  width:200px;
}

#opportunity {
  display: none;
}

#spirit {
  display: none;
}

#curiosity {
  display: none;
}